<div class="charts-section">
  <h3>Rango global de desempeño de países según indicadores seleccionados</h3>
  <div class="row">
    <!-- Bloque 1 -->
    <div class="chart-card">
      <select [(ngModel)]="selectedLevel1" (change)="onLevel1Change()">
        <option *ngFor="let lvl1 of tree" [value]="lvl1.value">{{lvl1.label}}</option>
      </select>
      <h3>Gráfico 2</h3>
      <div id="chart2"></div>
    </div>

    <!-- Bloque 2 -->
    <div class="chart-card">
      <select [(ngModel)]="selectedLevel2" (change)="onLevel2Change()">
        <option *ngFor="let lvl2 of level2Options" [value]="lvl2.value">{{lvl2.label}}</option>
      </select>
      <h3>Gráfico 3</h3>
      <div id="chart3"></div>
    </div>

    <!-- Bloque 3 -->
    <div class="chart-card">
      <select [(ngModel)]="selectedLevel3" (change)="onLevel3Change()">
        <option *ngFor="let lvl3 of level3Options" [value]="lvl3.value">{{lvl3.label}}</option>
      </select>
      <h3>Gráfico 4</h3>
      <div id="chart4"></div>
    </div>

  </div>
</div>
